
h1 {
    text-align: center;
    }
   
div {
    text-align: center;
    color: rgb(75,99,85);
 }
 
.body{
    font-family:'Times New Roman', Times, serif;

}

.esquerda{
    text-align: justify;
    font-size: 18px;
    color: rgb(75,99,85);
    
}
