.titulohistoria{


        color: rgb(75, 99, 85);
        text-align: center;
        margin-bottom: -20px;
    
}


.botaohistoria{
    border: solid 1px rgb(167, 204, 195);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(135, 236, 211);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    font-family:monospace ;
    font-size: 20px;
    white-space: nowrap;
    cursor:pointer;
    
    margin-top: 20px;
    margin-left: 930px;
    
}


.conteudohistoriap{

    color: rgb(75, 99, 85);
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 18px;

}

.subtitulohistoriap{

    color: rgb(75, 99, 85);
    margin-left: 799px;
    margin-right: 8px;
    margin-bottom: 20px;
    font-size: 18px;

}

.clickaquihistoria{

    color: rgb(111, 233, 202);
    text-align: center;
    margin-top: 30;
    font-size: 18px;




}


