.aumento_medico_posicao {
    padding-left: 500px;
    font-family: monospace;
    font-size: large;

}

.aumento_botao_posicao {
    margin-top: 500px;
    margin-left: 1000px;
    background: transparent;

}

section{

    background-image: url("/imagens/gradiente2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
 
.fundo{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 1000px;
    
}
 
.logo{
    width: 300px;
    height: 30x;
    
}
 
.fotoperfil{
    width: 85px;
    height: 85px;
    border-radius: 100%;
   
}
body{
    margin: 0;
 
}
 
a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 30px;
 
}
 
 
.botao{
    
    border: none;
    color: rgb(0, 255, 191);
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    font-family:monospace ;
    font-size: 30px;
    white-space: nowrap;
    cursor:pointer;
    
}
.botao:hover{
    background-color: #00796B;
    color: #FFFFFF;
    transform: scale(1.2)
}
 
 
.container{
    display: flex;
    align-items: center;
    gap: 1px;
    
}
 
.perfil{
    border: solid 1px blue;
    border-radius: 100%;
    color: rgb(0, 255, 191);
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 85px;
    padding-bottom: 85px;
 
    cursor:pointer;
    width: 80px;
    height: 80px;
}
 
.perfil:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 115);
    transform: scale(1.2)
}
.bg {
  width: 100%;
  height: 100vh;
 
  align-items:center;
  justify-content:center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(68, 243, 155) 0%, rgb(0, 255, 170) 25%, rgb(109, 252, 168) 51%, #35ffff 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
  position: absolute;
  z-index: -1;
  
}
.distperfil{
   
    margin-left: 320px;
    margin-right: 10px;
    font-family: monospace;
    font-size: 20px;
    margin-right: 10px;

}
 
#divbusca{
    background-color: #05b9a4;
    border:solid 1px;
    border-radius:5px;
    width:500px;
    margin-left: 340px;
   
  }
 
  #txtbusca{
    float: left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
   
  }
 
  .lupaimg{
    height: 30px;
    margin-left: 10px;
    
  }
 
.medicos{
    width: 500px;
    height: 470px;
    margin-top: 20px;
    margin-left: 340px;
    margin-right: 10px;
    align-items: center;
    border-radius: 50px;
}

.textopag{
    text-align: center;
    font-size: 25px;
    margin-bottom: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    
    

}

.textocor1{

    color: rgb(0, 0, 0);
    
}
 
.botaolupa{

    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: 10px;
    
}

.ajuste{

    margin-left: 80px;
}

.bg {
    width: 100%;
    height: 100vh;
   
    align-items:center;
    justify-content:center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(0, 252, 126) 0%, rgb(0, 255, 170) 25%, rgb(0, 255, 106) 51%, #35aeff 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
    position: absolute;
    z-index: -1;
    
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.content{

    
  position: relative;
  z-index: 1;
}

.fonte{
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
  box-sizing: border-box;
}


.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #08c797;
  padding-right: 40px;
  color:#000000;
  
}
.input-search::placeholder{
  color:rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  padding-left: 40px;
  
  
}
.btn-search{
  width: 550px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#000000 ;
  background-color:transparent;
  pointer-events:none;  
  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  
}
.input-search:focus{
  width: 210px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  
}

.ajustebusca{

  margin-left: 10px;
  width: 300px;
  
}


@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

.xdd {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}






.titulo{

  font-size: 50px;
  box-sizing: border-box;
  background-color:#00ffc827;
  
  white-space: nowrap;
  cursor: auto;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
}

.titulocor2{

  color: #00ffff;
}

.fundonovo{

  background-color: #07d3a0;
  width: 1897px;
  height: 900px;
  margin-top: 100px;
}

.cortxt{
  color: white;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}












@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}














.footer{
  background:#ffffff;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size: 40px;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }


  
  .modalConteudo2{

    background: white;
    
    text-align: center;
    width: 500px;
    margin: 50px;
    border-radius: 10px;
    
  }
 
  